body
{
  background-color:#E0F8F7;
  text-align: center;
  color:#40514E;
}
h1
{
color:#66BFBF; 
margin-top: 50px;
margin-left: 10%;


font-size: 5.625rem;
line-height: 2;
font-family: 'Sacramento', cursive;

}
h2
{
font-size: 2.5rem;
color:#66BFBF; 
font-family: 'Montserrat', sans-serif;
font-weight: normal;

padding-bottom: 10px;
}
.top
{
  padding-left: 20PX;
}
.top-cloud
{
  position:relative;
 left: 200px;
  margin-top: 60px;

}

.bottom-cloud
{
  position:absolute;
  margin-top: 60px;
   margin-bottom: 60px;

 }

.mountain{
  margin-top: 50px;
}
#female
{
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 120px;

}

h2
{
font-size: 2.5rem;
color:#66BFBF; 
font-family: 'Montserrat', sans-serif;
font-weight: normal;
padding-bottom: 10px;
margin-top: 100px;
}
#name_img
{
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 120px;
  display: flex;
  flex-direction: row;

}
.circle{
	float: left;
 
           height: 120px;
           width: 120px;
           background: #ff9292;
           border-radius: 60%;
            padding: 30px;
              
           
           
            display: flex;
  flex-direction: row;
         
          
           text-align: center;
          justify-content: left;
           color: #ffffff;

          transition: margin-left .5s; /* If you want a transition effect */
        
        box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
}
#circle_a    
   {
   	float: left;
 
    margin-top: 30px;
   } 
         
   #circle_b    
   {
   	float: left;
   
    margin-top: 30px;
    
   } 
   #circle_c
   {
   
    margin-top: 30px;
     }

     .sidebar
{
  width:0px;

  background-color: #ff9292;
  z-index: 1;
  top: 20px;
  
 height: 200px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);


}
.p_circle
{
  
  text-align: left;
  
}
a
{
  text-decoration: none;
  color: white;
}
.p_sidebar
{
margin-left: 0px;
padding-left: 20px
} 
         

