body
{
  background-color:#E0F8F7;
  text-align: center;
  color:#40514E;
}
h1
{
color:#66BFBF; 
margin-top: 50px;
text-align: left;



font-size: 5.625rem;
line-height: 2;
font-family: 'Sacramento', cursive;

}
h2
{
font-size: 2.5rem;
color:#66BFBF; 
font-family: 'Montserrat', sans-serif;
font-weight: normal;

padding-bottom: 10px;
}
.top
{
  padding-left: 20PX;
}
.top-cloud
{
  position:relative;
  margin-right: 200px;
  margin-top: 60px;

}

.bottom-cloud
{
  /*
  margin-top: 60px;
   margin-bottom: 60px;*/
position:relative;
float: left;
margin-left: 300px;
 }

.mountain{
  margin-top: 50px;
}
#female
{
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 150px;

}

h2
{
font-size: 2.5rem;
color:#66BFBF; 
font-family: 'Montserrat', sans-serif;
font-weight: normal;
padding-bottom: 10px;
margin-top: 100px;
}
#name_img
{
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 150px;
  display: flex;
  flex-direction: row;

}
.middle-container
{
	margin-top: 200px;
}
.bottom-container
{
	margin-top: 400px;
	margin-bottom: 400px;
}


.circle{
	float: left;
 
           height: 100px;
           width: 100px;
           background: #ff9292;
           border-radius: 50%;
            padding: 30px;
            display: flex;
  			flex-direction: row;
         text-align: center;
          justify-content: left;
           color: #ffffff;
font-family: 'Merriweather', serif;
          transition: margin-left .5s; /* If you want a transition effect */
        
        box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
}
#circle_a    
   {
   	float: left;
 	margin-left: 3%;
    margin-top: 30px;
 font-family: 'Merriweather', serif;
   } 
         
   #circle_b    
   {
   	float: left;
   margin-left: 3.5%;
    margin-top: 30px;
    
   } 
   #circle_c
   {
   	float: left;
   margin-left: 4%;
    margin-top: 30px;
     }

     .sidebar_a
{
  width:0px;
  /*padding-left: 50px; */
  background-color: #ff9292;
  z-index: 1;
 
 overflow-x: hidden;
  transition: 0.6s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1); 

}

.sidebar_b
{
  width:0px;

  background-color: #ff9292;
  z-index: 1;
  margin-top: 20px;
  float: left;
  margin-left: 0px;
 height: 200px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
}

.p_circle
{
  font-family: 'Merriweather', serif;
 padding-top: 20px;

font-size: 18px;
 padding-left:0px;

}
a
{
  text-decoration: none;
  color: white;
  font-family: 'Merriweather', serif;
  font-size: 24px;
  text-align:left;
 padding-left: 0px;
}

.p_sidebar
{
margin-left: 0px; 
padding-top: 40px;

width:0px;
font-family: 'Merriweather', serif;
font-size: 24px;
/*padding-top: 20px; */
  background-color: #ff9292;
  z-index: 1;
  margin-top: 100px;
 
 height: 150px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
} 
#img_code
{
	
  float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 150px;
  display: flex;
  flex-direction: row;


}
.circleCourse
{
	  float: left;
  height: 100px;
           width: 100px;
           background: #ff9292;
           border-radius: 50%;
            padding: 30px;
             display: flex;
  			flex-direction: row; 
          
            
          
           text-align: center;

          justify-content: left;
           color: #ffffff;

          transition: margin-left .5s; /* If you want a transition effect */
        
        box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);


 
          
            
            

}
.p_circleCourse
{
	text-align: center;
	
  font-size: 24px;
/*padding-left:20px; */
 font-family: 'Merriweather', serif;
 padding-top: 10px;
 padding-left: 0px;
  
}
#circleCourse_a    
   {
   	
   margin-top: 30px;
	margin-left: 3%;

  } 
   #circleCourse_b   
   {
    float: left;
   margin-top: 30px;
	margin-left: 3.5%;
   } 
   #circleCourse_c 
   {
    float: left;
   margin-top: 30px;
	margin-left: 4%;
   } 
   #sidebarCourse_a
{
  width:0px;
padding-top: 50px;
	
margin-left:0px;
  background-color: #ff9292;
  z-index: 1;
  top: 140px;
  font-size: 24px;
  font-family: 'Merriweather', serif;
 
 height: 200px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
}
.p_sidebarCourse
{
  margin-left: 10px;
  padding-top: 40px;
  font-family: 'Merriweather', serif;
  font-size: 24px;


}
#sidebarCourse_b
{
  width:0px;
margin-left: 10px;
  background-color: #ff9292;
  z-index: 1;
  top: 40px;
  
 height: 200px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);

}
#sidebarCourse_c
{
  width:0px;
/*margin-left: 10px;*/
  background-color: #ff9292;
  z-index: 1;
  margin-top: 40px;
 
 height: 200px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);

}

.desc-contact
{

  text-align: center;
  width: 40%;
  margin:40px auto 60px;
}
.contact-me
{
	margin-top: 400px;
}
.form_new
{
  height: 60%;width: 25%;
  font-size: 1rem;
  background-color: #ffffff;
  margin: auto;
  }
input
{
  width: 100%;
  
  height: 40px;
  width:70%;
  border:  1px 0 0 0;
  border-top-color: gray;
  padding-left: 0px;
}
label
{
line-height: 40px;
font-size: 1.25rem;
text-align: left;

}
textarea
{
  width:70%;
 
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-top: 60px;
  margin-bottom: 30px;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.cal
{
  float: right;
  width: 300px;
  height: 300px;
}
.copywright
{
  color:#EAF6F6;
  text-align: center;
  font-size: 0.75rem;
  padding:20px 0;
}
.links_last
{
  background-color: #66BFBF;
  padding-top: 50px;
  margin-top: 50px;
  width: auto ;
}
a
{
  color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  margin:0px 20px 10px 20px;
  text-decoration: none;
}
a:hover
{
  /*color: #11999E;*/
  color:#01F9E3;
}
.nav_a

{
	color:white;
	font-family: 'Merriweather', serif;
 /*padding-top: 10px; */
 text-align: center;
 margin-left: 0px;
padding-left: 0px;
}
.testimonial
{

}
    #thank_you
    {
    	float: left;
  margin-left: 20%;
  margin-top: 30px;
  height: 150px;
  display: flex;
  flex-direction: row;

    }    
    .intro
    {
    	margin-left: 300px;
    } 
   .font
   {
   	font-family: 'Merriweather', serif;
   	font-size: 18px;
  text-align: left;
  padding-left: 0px;
   }
  .fontcourse
  {
  	font-family: 'Merriweather', serif;
   	font-size: 24px;
  text-align: center;
  
  }
 .sidebarthank_a
{
  width:0px;
  text-align: left;
  background-color: #ff9292;
  z-index: 1;
 
 overflow-x: hidden;
  transition: 0.6s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1); 

}
.sidebarthank_b
{
  width:0px;
  
  background-color: #ff9292;
  z-index: 1;
 
 overflow-x: hidden;
  transition: 0.6s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1); 

}

.sidebarthank_c
{
  width:0px;
  
  background-color: #ff9292;
  z-index: 1;
 
 overflow-x: hidden;
  transition: 0.6s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1); 

}
#circlethank_a
{
	float: left;
 	margin-left: 3%;
    margin-top: 30px;
 font-family: 'Merriweather', serif;
}
#circlethank_b
{
	float: left;
 	margin-left: 3%;
    margin-top: 30px;
 font-family: 'Merriweather', serif;
}
#circlethank_c
{
	float: left;
 	margin-left: 3%;
    margin-top: 30px;
 font-family: 'Merriweather', serif;
}
.p_sidebarthank
{
margin-left: 0px; 
padding-top: 40px;

width:0px;
font-family: 'Merriweather', serif;
font-size: 24px;
padding-top: 20px;
  background-color: #ff9292;
  z-index: 1;
  margin-top: 100px;
 
 height: 150px;
  overflow-x: hidden; /*for Disabling horizontal scroll */ 
  transition: 0.8s;
  
  box-shadow: 
          inset 0 0 0 16px rgba(255,255,255,0.6),
          0 1px 2px rgba(0,0,0,0.1);
} 

.boy
{
	height: 110px;
	width: 110px;
}
.navcourse_a
{
	color:white;
	font-family: 'Merriweather', serif;
 /*padding-top: 10px; */
float: center;
 
}
