 @media screen and (max-width: 480px) {
*
{
	margin:0px;

}
body,html
{
width: 100%;
}
.img-fluid {
 
  
   width:70%;
}
h1
{
	padding-left:15%;
	padding-top:6%;
	
/**/
	
	font-size: 1rem;
	text-align: center;
}
h2
{
	margin-left:13%;
	padding-left:15%;
	text-align: center;
}
#purple_box
{
	
	 margin: 0 auto; width: 480px;

}
#female
{
	float: center;
}
.feature-box
{
	margin-left: 20%;

}
}
body{
	/*padding-left:0px;
	padding-right: 0px;

	margin-left: 0px;
	margin-right: 0px;*/
  background-color:#E0F8F7;
}
 .img-fluid
 {
 	
 	width:200px;

 	margin-left:42%;
 	margin-right:42%;
 	
 }
h1
{
	font-family: 'Sacramento', cursive;
	font-size: 7rem;
	line-height: 1;
	color:#66BFBF; 
	/*text-align: center;*/
	margin-top: 4%;
		

}
h2
{
	font-size: 1.5rem;
color:#66BFBF; 
font-family: 'Montserrat', sans-serif;
font-weight: bold;
margin-top: 3%;

}
.know_me
{
text-align: center;
}
#purple_box
{
	
	 margin: 0 auto; width: 960px;

}
.mycontainer
{
	width: 100%;
}
.feature-box
{

height:300px;
border: 10px solid;
border-color:#E0F8F7;
color:#fff;
padding:2%;

}

#purple
{
background-color: #9c27b0;
}
#green{
background-color: #009688;
}
#pink
{
background-color: #dd376f;
}
/*.container-fluid
{
height: 10rem;
background-color: #66bfbf;
width:100%;
}
*/
